<%- include ('./partials/header') %>
<button id="logoutBtn"><a href="/users/logout">Logout</a></button>

<a href="#" onclick="signOut();">Sign out</a>
<div id="dash">
<h1>Hello <%= user.name %>,</h1> 
<p>You found the secret page</p>
</div>


<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>