<%- include ('./partials/header') %>
<button id="logoutBtn" id="logoutBtn"><a href="/users/logout">Logout</a></button>
<a href="#" onclick="signOut();">Sign out</a>
<div id="dash">
<h1>Dashboard</h1>
<p> Welcome <%= user.name %></p>
<br>

<div id="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, voluptatum! Voluptatem, ipsam cumque placeat doloremque officia ducimus doloribus corrupti voluptates dolore, distinctio repellendus nisi architecto asperiores, facilis error illo reprehenderit.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, non explicabo itaque laboriosam dolores maxime porro, fuga, sequi nobis rem sint velit nulla adipisci repellendus fugit magnam numquam facere error?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa inventore veritatis nemo ex quam maiores cupiditate accusantium, numquam vero enim doloribus iusto delectus, fugit blanditiis voluptas officia a. Explicabo, reiciendis?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quis debitis molestias alias libero perferendis culpa quas magnam nihil ad! Sequi vel quis consectetur sapiente expedita! Vero, accusamus architecto. Autem?
    <!-- <h2>Vad jag har använt för denna applikation:</h2>
    <ul>
        <li>Cookie Consent Popup för att informera användaren om att cookies kommer att lagras på webbplatsen enligt GDPR </li>
        <br>
        <li>Google reCAPTCHA för att verifiera att användaren inte är en dator. 
            Först när verifieringen är godkänd kommer användaren få tillgång till submit-knappen för att logga in med sitt 
            användarnamn och lösenord.</li>
            <br>
        <li>Inloggningen verifieras med passport</li>
    </ul> -->
</div>
</div>


<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>