<%- include ('./partials/header') %>
<button id="logoutBtn"><a href="/users/logout">Logout</a></button>

<a href="#" onclick="signOut();">Sign out</a>
<div id="dash">
<h1>Hello <%= user.name %>,</h1> 
<p>You found the secret page</p>
</div>
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 14</div>
    <img src="/img/1.png" style="width:100%">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 14</div>
    <img src="/img/2022-02-07 (1).png" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 3</div>
    <img src="/img/2022-02-07 (3).png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">5 / 14</div>
    <img src="/img/2022-02-07 (4).png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">6 / 14</div>
    <img src="/img/2022-02-07 (5).png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">7 / 14</div>
    <img src="/img/2022-02-07 (6).png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">8 / 14</div>
    <img src="/img/2022-02-07 (7).png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">9 / 14</div>
    <img src="/img/2022-02-07 (8).png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">10 / 14</div>
    <img src="/img/2022-02-07 (9).png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">11 / 14</div>
    <img src="/img/2022-02-07 (10).png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">12 / 14</div>
    <img src="/img/2022-02-07 (11).png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">13 / 14</div>
    <img src="/img/2022-02-07 (12).png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <div class="numbertext">14 / 14</div>
    <img src="/img/2022-02-07 (13).png" style="width:100%">
  </div>
  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
  <span class="dot" onclick="currentSlide(11)"></span>
  <span class="dot" onclick="currentSlide(12)"></span>
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span>
</div>

<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }

  var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>