<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="896032813681-nvs75ms4nsugdqi1vcd0081ntdkpaliv.apps.googleusercontent.com">
<%- include ('./partials/header') %>
<%- include ('./partials/messages') %>
<div id="home">
  <p>Lost? <br>
    <a href="/users/register">
    Home</a></p>
</div>
<form action="/users/login" method="POST">
<div id="loginForm">
  <h1> Login </h1>
  <br>
  <br>
  <div>
<label for="email">Email</label>
<br>
<br>
<input
type="email"
name="email"
required
/>
</div>
<br>
<div>
    <label for="password">Password</label>
    <br>
    <br>
    <input
      type="password"
      name="password"
      required
    />
    <br>
    <br>
    <br>
    <br>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <br>
    <br>
    <div class="g-recaptcha" data-sitekey="6LcPlRoeAAAAAD7rLTT1YDsjV3ncDZ3jukxwskzl" data-callback="enableBtn"></div>
</div>
<br>
<br>
<button type="submit" id="submit" class="btn btn-primary btn-block" disabled>Login</button>
<br>
<p>No Account?<a href="/users/register">
  Register</a></p>
   
</form>
</div>
</div>
<script>
  function enableBtn(){
  document.getElementById("submit").disabled = false;   
}
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId(googleUser));
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); 
}


</script>
