body{
  background-image: url("https://cdn.wallpapersafari.com/10/46/D1wmT9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  font-family: 'Press Start 2P', cursive;
}
input,
input[type=text]:focus {
  background-color: rgba(255, 255, 255, 0.247);
  width: 100%;
  height: 4%;
  margin-left: -30;
  font-family: 'Press Start 2P', cursive;
}

.g-recaptcha {
margin-left: -30;
opacity: 0.7;

}
#loginBtn,
#registerBtn,
button[type=submit] {
  width: 80%;
  background-color: #495eb9a1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#loginForm,
#registerForm,
#welcome {
  width: 300px;
  margin-left: 40%;  
}

a {
  text-decoration: none;
}
#submit {
  background-color: rgb(40, 130, 160);
  color: white;
  font-family: 'Press Start 2P', cursive;
}
#submit:hover{
  background-color: rgb(86, 101, 190);
}
#dash {
  width: 300px;
  margin-left: 40%;
  margin-top: 5%;
}
#logoutBtn {
  text-decoration: none;
  position: fixed;
  top: 2%;
  right: 2%;
  color: white;
  background-color: rgb(82, 102, 194);
  color: white;
  font-family: 'Press Start 2P', cursive;
}
#registerBtn:hover,
#loginBtn:hover,
#logoutBtn:hover {
  background-color: rgb(115, 130, 216);
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #5876a073;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #be18e848;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}
#content {
  background-color: rgba(255, 255, 255, 0.315);
  width: 600px;
  margin-left: -100;
}

.g-signin2{
  margin-left: 20%;

}

.frc-captcha {
  margin-left: -35;
}